// Main styling

body {
    background: black;
    margin: 0 auto;
}
header {
    margin: 0 auto;
    color: white;
    text-align: center;
    width: 30em;
    border-radius: 20px;
    & h6 {
        font-size: 0.02rem
    }
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 15px;
}

// Btn header

.nav {
    color: rgb(255, 255, 255);
    margin: 0 10px;;
    display: grid;
    background: lightgray;
    width: 130px;
    border-radius: 20px;
    margin-top: 15px;
    overflow: hidden;
    transition: all 500ms ease-in-out;
    height: 50px;
}
.nav-menu {
    list-style-type: none;
    margin: 0;
}
#images {
    width: 50px;
    margin: 0 auto;
    cursor: pointer;

}
.change {
    color: rgb(0, 0, 0);
    margin: 0 10px;;
    display: grid;
    background: lightgray;
    width: 130px;
    border-radius: 20px;
    margin-top: 15px;
    overflow: hidden;
    transition: all 500ms ease-in-out;
    height: 500px;
}

// Movie posters

main {
    display: flex;
    margin: 0 auto;
}
.container {
    margin: 0 auto;
    align-items: center;
    justify-content: center;

}
.film-grid {
    list-style-type: none;
    display: flex;
}

// media querry 

@media (min-width: 800px){
    .container {
        margin: 0 auto;
    }
    #film-grid {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        justify-content: center;
    }
    .film-poster {
        padding: 5px;
    }
    h1 {
        font-size: 25px;
    }
}
@media (min-width: 1100px){
    .container {
        margin: 0 auto;
    }
    #film-grid{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
    }
    .film-poster {
        padding: 5px;
    }
    h1 {
        font-size: 30px;
    }
}
